.container{
	margin: 50px;
}

.racer_table td {
  height: 50px;
  width: 50px;
  border: 5px solid #666;
  border-radius: 15px;
}

#player1{
	background: #C65269;
}

#player2{
	background: #B3D6D8;
}

.racer_table td.active {
  background-color: #D1C772;
  color: blue;
}

.racer_table tr{
	color: white;
}

#player1 td.active{
  background: url(http://puu.sh/bWZqo/afc3df99d4.png);
}

#player2 td.active{
  background: url(http://puu.sh/bWZsA/b2cfee3b74.png);
}

.reset {
  display: none;
}